

.menu {
	position: absolute;
	left: 20px;
	top: 220px;
	border: 1px solid green;
	padding: 30px;

}

.menu2 {
	position: absolute;
	left: 760px;
	top: 190px;
	border: 1px solid #af7b6d;
	padding: 30px;

}
h1{

	font-size: 120px;
	color: black;
	font-family: Helvetica;
	font-weight: bolder;
	letter-spacing: 0px;
	text-align: center;
	padding-bottom: 0px;
	margin-top: 10px;


}

h2 {
	font-size: 13px;
	text-align: right;
	margin-top: 10px;
	font-family: helvetica;
	font-weight: lighter;
	word-spacing: 2x;
	letter-spacing: 1px;

}

h4 {
	font-family: helvetica;
	font-size: 190px;
	color: white;
	font-weight: bolder;
	z-index: 100;
	-webkit-transform: rotate(-90deg);
	position: absolute;
	top: -28px;
	left: 90px;
}

h5 {
	font-family: helvetica;
	font-size: 190px;
	color: white;
	font-weight: bolder;
	z-index: 100;
	-webkit-transform: rotate(-90deg);
	position: absolute;
	top: -82px;
	left: 1000px;
}

img {
	width: 900px;
	margin-left: 230px;
	margin-top: 60px;
}


a:visited{
	color: black;
}

a:hover{
	color: #bac767;
}





a:link{

	font-family:helvetica;
	font-style: bold;
	color: black;
	font-size: 50px;
	text-decoration: none;
	margin-top: 20px;


} 

.uno {
	width: 30%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -1;



}

.dos {
	width: 30%;
	position: absolute;
	top: 300px;
	left: 0px;
	z-index: -1;


	}

.tres{
	width: 30%;
	position: absolute;
	top: 0px;
	left: 750px;
	z-index: -1;



}

.cuatro {
	width: 30%;
	position: absolute;
	top: 300px;
	left: 750px;
	z-index: -1;

	}



html{

	background-color: white;
}


