
.word-wrapper {
	display: inline-block;
	margin-right: 60px;
}

.letter-wrapper {
	display: inline-block;
	margin: 0 15px 80px 60px ; 
}

.letter {
	width: 150px;
	height: 200px;
	position: relative;
}

.bar {
	position: absolute;
}

.vertical {
	width: 30px;
	height: 200px;
}

.horizontal {
	width: 150px;
	height: 30px;
}

.black		{ background-color: #000;}
.red		{ background-color: #f00;}
.blue		{ background-color: #00f;}
.yellow		{ background-color: #ff0;}


.a-left {top: 0; left: 0; }
.a-right{ top: 0px; right: 0px; z-index: 1;}
.a-top{ top: 0px; left: 0px; }
.a-mid{top: 85px;left: 0px;z-index: 2;}