h1 {
	font-family: helvetica;
	color: red;
	font-size: 36px;
	margin-left: 600px;
	margin-top: 10px;
	position: relative;
}

h2 {
	font-family: helvetica;
	color: red;
	font-size: 24px;
	font-weight: bold;
	margin-left: 370px;
	margin-top: -40px;
	position: relative;

}

a:link {
	text-decoration: none;
	color: white;

}

a:visited {
	text-decoration: none;
	color: white;
}

.container {
	width: 1400px;
	height: 760px;

}

.sidebar {
	width: 228px;
	height: 780px;
	background-color: red;
	position: absolute;
	padding-left: 40px;
	overflow: scroll;
}

.all-button {
	background-color: red;
	width: 54px;
	height: 33px;
	margin-left: 1380px;
	font-size: 24px;
	font-family: helvetica;
	font-weight: bold;
	color: white;
	padding-left: 7px;
	padding-top: 7px;
}

.save-button {
	background-color: red;
	width:  81px;
	height: 35px;
	margin-left: 1350px;
	font-size: 24px;
	font-family: helvetica;
	font-weight: bold;
	color: white;
	padding-left: 13px;
	padding-top: 10px;


}
.drag-image1 {width: 94px; height: 181px; cursor: move;}
.drag-image2 {width: 235px; height: 144px; margin-top: 0px; margin-left: 0px;cursor: move;}
.drag-image3 {width: 111px; height: 222px; margin-top: 0px;cursor: move;}
.drag-image4 {width: 71px; height:  186px; margin-top: 0px;cursor: move;}
.drag-image5 {width: 141px; height: 139px;position: absolute;margin-top: 0px;cursor: move;}

