
html,body {
	background-image: url("gardenback.png");
	width: 100%;
	height: 90%;
	background-attachment: fixed;
	
}

.drag-image1 {top:0px;}
.drag-image2 {top:0px;}
.drag-image3 {top:0px;}
.drag-image4 {top:0px;}
.drag-image5 {top:0px;}
.drag-image6 {top:0px;}
.drag-image7 {top:0px;}
.drag-image8 {top:0px;}
.drag-image9 {top:0px;}
.drag-image10 {top:0px;}
.drag-image11 {top:0px;}
.drag-image12 {top:0px;}
.drag-image13 {top:0px;}
.drag-image14 {top:0px;}
.drag-image15 {top:0px;}


.myDrag { cursor: move;
			position: relative;

}

.h1 {
	font-family: helvetica;
	color: white;
	font-size: 36px;
	font-weight: bold;
	position: fixed;
	left:700px;
	top: 40px;
	
}



a:link {
	text-decoration: none;
	color: white;

}

a:visited {
	text-decoration: none;
	color: white;
}



.sidebar {
	width: 228px;
	height: 780px;
	background-color: #5d823d;
	padding-left: 40px;
	top: -2px;
	position: fixed;
	overflow: auto;


}

.all-button {
	background-color: #5D823D;;
	width: 54px;
	height: 33px;
	left: 1320px;
	top: 40px;
	font-size: 24px;
	font-family: helvetica;
	font-weight: bold;
	color: white;
	padding-left: 7px;
	padding-top: 5px;
	position: fixed;
	
}



.toggle-button {
		position:fixed;
		width: 75px; 
		height: 31px;

	}



.toggle {
	 width: 75px; height: 31px; margin-top: 570px; margin-left:300px; position:fixed;
}

.floppy {
	width: 54px;
	height: 54px;

}


.canvas__container {
  height: 100%;
  position: fixed;
  width: 100%;
}
.canvas__canvas {
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.canvas__mirror {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%; }


.button {
	background-color: #5D823D;
  width: 71px;
  height: 33px;
  top:630px; left:1320px;
  font-size: 24px;
  font-family: helvetica;
  font-weight: bold;
  color: white;
  padding-left: 7px;
  padding-top: 5px;
  position: fixed;
}




